body {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.header{
  position: relative; /*czy to musi byc?*/
}

.navigation {
  background: rgba(141, 40, 81, 0.9);
  box-sizing: border-box;
  height: 100px;
  width: 100%;

  padding: 20px 0;

  position: fixed;
  top: 0;

  z-index: 2020;

}

.navigation__link {
  color: green;
  box-sizing: border-box;
  height: 80px;
  display: inline-block;

  padding: 20px;
  margin: 0 auto;
}

.navigation__link--homepage {
  color: blue;
  font-size: large;
}


.main{
  display: block;
  padding: 20px;

  max-width: 1000px;
  margin: 0 auto;
}

.main__header{
  display:block;
  padding-top: 80px;
}

.main__header--title{
  font-size: 5vh;
  color: #331832;
}

.page-description{
  padding: 7px 0;
}

.page-description__title{
  color: #F0544F;
}

.page-description__paragraph{
  color: #38405F;
}


.about__picture{
max-width: 500px;
max-height: 500px;
}



.pic {
  height: 500px;
  width: 800px;
}


footer{
  background: rgba(141, 40, 81, 0.9);
  max-width: 1000px;
  margin: 0 auto;
}